<meta charset="UTF-8">
	<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="panel panel-info spacer">
			<div class="panel-heading">Votre activité recente</div>
			<div class="panel-body">
				<div class="form-group"></div>

			</div>


		</div>
	</div>
<div class="col-md-4 col-sm-12 col-xs-12">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-info spacer">
			<div class="panel-heading">Mes taches</div>
			<div class="panel-body">
				<form>
					<div class="form-group"></div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-info spacer">
			<div class="panel-heading">Mes rendez-vous</div>
			<div class="panel-body">
				<form>
					<div class="form-group"></div>
				</form>
			</div>
		</div>
	</div>

</div>
</div>